# This is Git's per-user configuration file.
[user]
	name = Gil Tayar
	email = gil@tayar.org
[alias]
        st = status --short --branch
        cam = commit -am
        ls = !git --no-pager log --oneline --graph --decorate -n 20
        amend = commit --amend -C HEAD
[pull]
	rebase = true
[branch]
	autosetuprebase = always
[rebase]
	autoStash = true
[merge "npm-merge-driver"]
	name = automatically merge npm lockfiles
	driver = npx npm-merge-driver merge %A %O %B %P
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	excludesfile = /Users/giltayar/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
